<div class="container">
    <div class="jumbotron text-center">
        <h1>You still have <span class="label label-info">{{ vm.todos.length }}</span> tasks pending </h1>
    </div>

    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <itemsscreen object="vm.object" items="vm.items"></itemsscreen>

            <p class="text-center" ng-show="vm.loading">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </p>

        </div>
    </div>

    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="vm.formData.text">
                </div>

                <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.createTodo()">Add</button>
            </form>
        </div>
    </div>
</div>